/* this card is inspired form this - https://georgefrancis.dev/ */

.card {
    --border-radius: 0.75rem;
    --primary-color: #7257fa;
    --secondary-color: #3c3852;
    width: 100%;
    padding: 0.8rem 1rem;
    border-radius: var(--border-radius);
    background: #f1f1f3;
    box-shadow: 0 8px 16px 0 rgb(0 0 0 / 3%);
    position: relative;
    margin-bottom: 10px;
    min-width: 170px;
}

.card .card__content {
    color: var(--secondary-color);
    font-size: 0.86rem;
}

.card .card__title {
    font-size: 1rem;
    font-weight: bold;
    padding-bottom: 10px;
}

.card .card__date {
    color: #6e6b80;
    font-size: 0.8rem;
}

.card .card__arrow {
    color: white;
    position: absolute;
    background: #321FDB;
    padding: 0.4rem;
    border-top-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
    bottom: 0;
    right: 0;
    transition: 0.2s;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.card .card__delete {
    color: white;
    position: absolute;
    background: #dc3545;
    padding: 0.4rem;
    border-top-right-radius: var(--border-radius);
    border-bottom-left-radius: var(--border-radius);
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

img{
    width: 100%;
    cursor: pointer;
}

h3{
    margin: 0;
}

ul{
    padding-left: 1.5rem;
}
